* {
  box-sizing: border-box;
}

img {
  max-width: 100%;
  display: block;
}

button {
  border: none;
  outline: none;
  background-color: transparent;
  cursor: pointer;
}

input,
textarea {
  &:focus {
    outline: none;
  }
}

ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

a {
  text-decoration: none;
  color: inherit;
}

h1,
h2,
h3,
p,
blockquote {
  margin: 0;
  font-weight: normal;
}
