$media-list: (
  "xxs": 420,
  "xs": 576,
  "s": 768,
  "m": 992,
  "l": 1280,
  "xl": 1600,
  "xxl": 1920,
);

$primaryFont: "Inter", sans-serif;

$transition: all 0.3s ease-out;

$black: #000000;
$white: #ffffff;
$red: #ff0000;
$grey: grey;
