doctype html

html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")

  body
    h1 Webpack Config

    h2
      | Test header
      img(src="../../assets/images/Arrow.svg" alt="")
    
    h3
      | Test header
      svg(class="icon" style="width: 12px; height: 12px")
        use(xlink:href="../../assets/images/sprite.svg#Search")
      

    img(src="../../assets/images/eventschedule_main-scaled.jpg" alt="")